
div.header > div.headermenu > div.menu > nav > ul > li {
  display: inline-block;
  vertical-align: top;
  font-family: font;
  font-size: small;
  padding: 10px;
  line-height: 45px;
  font-weight: 800;
}
div.header > div.headermenu > div.menu > nav > ul > li > a {
  color: black;
}
div.header > div.headermenu > div.menu > nav > ul > li:hover > a {
  color: white;
}
div.header > div.headermenu > div.menu > nav > ul > li:hover {
  background-color: black;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu1 {
  width: 1520px;
  height: 422px;
  background-color: #eeeceb;
  position: absolute;
  transform: translate(-212px, 8px);
  z-index: 50;
  display: none;
}
div.header > div.headermenu > div.menu > nav > ul > li:hover > div.menu1 {
  display: block;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu1 > div.gap {
  width: 80px;
  height: 100%;
  background-color: white;
  display: inline-block;
  vertical-align: top;
}
div.header
  > div.headermenu
  > div.menu
  > nav
  > ul
  > li
  > div.menu1
  > div.menubox {
  width: 227px;
  height: 421px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  transform: translateX(-11px);
  border-left: 0.5px solid #eeeceb;
}
div.header
  > div.headermenu
  > div.menu
  > nav
  > ul
  > li
  > div.menu1
  > div.menubox
  > div.box1 {
  width: 210px;
  height: 50%;

  border-bottom: 1px solid gray;
  margin-left: 8px;
  padding-top: 10px;
}
div.header
  > div.headermenu
  > div.menu
  > nav
  > ul
  > li
  > div.menu1
  > div.menubox
  > div.box1
  > ul
  > li {
  width: 100%;
  height: auto;
}
div.header
  > div.headermenu
  > div.menu
  > nav
  > ul
  > li
  > div.menu1
  > div.menubox
  > div.box1
  > ul
  > li
  > a {
  color: black;
  font-size: 13px;
}
div.header
  > div.headermenu
  > div.menu
  > nav
  > ul
  > li
  > div.menu1
  > div.menubox
  > div.box2 {
  width: 210px;
  height: 50%;

  margin-left: 8px;
  padding-top: 10px;
}
div.header
  > div.headermenu
  > div.menu
  > nav
  > ul
  > li
  > div.menu1
  > div.menubox
  > div.box2
  > ul
  > li {
  margin-top: 10px;
}
div.header
  > div.headermenu
  > div.menu
  > nav
  > ul
  > li
  > div.menu1
  > div.menubox
  > div.box2
  > ul
  > li
  > a {
  color: black;
  font-size: 13px;
}
div.header
  > div.headermenu
  > div.menu
  > nav
  > ul
  > li
  > div.menu1
  > div.menubox
  > div.box1
  > ul
  > li:hover {
  background-color: #eeeceb;
}
div.header
  > div.headermenu
  > div.menu
  > nav
  > ul
  > li
  > div.menu1
  > div.menubox
  > div.box2
  > ul
  > li
  > a
  > sup {
  color: #fa6600;
  font-size: 9px;
}
div.header
  > div.headermenu
  > div.menu
  > nav
  > ul
  > li
  > div.menu1
  > div.menubox
  > div.box2
  > ul
  > li:hover
  > a {
  color: #fa6600;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu1 > div.gap2 {
  width: 80px;
  height: 100%;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  margin-left: 1126.5px;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu2 {
  width: 1519px;
  height: 269px;
  background-color: #eeeceb;
  position: absolute;
  transform: translate(-270px, 8px);
  z-index: 50;
  display: none;
}
div.header > div.headermenu > div.menu > nav > ul > li:hover > div.menu2 {
  display: block;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu2 > div.gap {
  width: 80px;
  height: 100%;
  background-color: white;
  display: inline-block;
  vertical-align: top;
}
div.header
  > div.headermenu
  > div.menu
  > nav
  > ul
  > li
  > div.menu2
  > div.menubox {
  width: 227px;
  height: 269px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  transform: translateX(-11px);
  border-left: 0.5px solid #eeeceb;
}
div.header
  > div.headermenu
  > div.menu
  > nav
  > ul
  > li
  > div.menu2
  > div.menubox
  > div.box1 {
  width: 210px;
  height: 65%;
  border-bottom: 1px solid gray;
  margin-left: 8px;
  padding-top: 25px;
}
div.header
  > div.headermenu
  > div.menu
  > nav
  > ul
  > li
  > div.menu2
  > div.menubox
  > div.box2 {
  transform: translate(10px, 10px);
}
div.header
  > div.headermenu
  > div.menu
  > nav
  > ul
  > li
  > div.menu2
  > div.menubox
  > div.box1
  > ul
  > li:hover
  > a {
  color: #fa6600;
}
div.header
  > div.headermenu
  > div.menu
  > nav
  > ul
  > li
  > div.menu2
  > div.menubox
  > div.box1
  > ul
  > li
  > a {
  color: black;
}
div.header
  > div.headermenu
  > div.menu
  > nav
  > ul
  > li
  > div.menu2
  > div.menubox
  > div.box2
  > a {
  color: black;
}
div.header
  > div.headermenu
  > div.menu
  > nav
  > ul
  > li
  > div.menu2
  > div.menubox
  > div.box2:hover
  > a {
  color: #fa6600;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu2 > div.gap2 {
  width: 80px;
  height: 100%;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  margin-left: 1125.55px;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3 {
  width: 1519px;
  height: 508px;
  background-color: #eeeceb;
  position: absolute;
  transform: translate(-417px, 8px);
  z-index: 50;
  display: none;
}
div.header > div.headermenu > div.menu > nav > ul > li:hover > div.menu3{
  display: block;
} 
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3 > div.gap {
  width: 80px;
  height: 100%;
  background-color: white;
  display: inline-block;
  vertical-align: top;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3 > div.year {
  width: 1358.8px;
  height: 100%;
 
  display: inline-block;
  vertical-align: top;
  transform: translateX(-3px);
  border-bottom: 1px #C4C4C4 solid;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3 > div.year>div.year2{
  width: 880px ;
  height: 73px;
  transform: translateY(10px);
  border-right: 2px solid #C4C4C4;
  display: inline-block;
vertical-align: top;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3 > div.year>div.year2>span{
  font-size: 18px;
  padding-left: 20px;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3 > div.year>div.year2>div.yearbox{
  width: 184px;
  height: 36px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  transform: translateY(4px);
  border: 0.5px solid black;
  border-radius: 2px ;
  margin-left: 10px;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3 > div.year>div.year2>div.yearbox>p{
  transform: translate(18px,-4.5px);
  font-size:15px ;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3 > div.year>div.year2>div.yearbox2{
  width: 264px;
  height: 36px;
  background-color: #f9f8f8;
  display: inline-block;
  vertical-align: top;
  transform: translateY(4px);
  border: 1.5px solid #9F9E9E;
  border-radius: 2px ;
  margin-left: 10px;
  cursor: not-allowed;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3 > div.year>div.year2>div.yearbox2>p{
  transform: translate(18px,-4.5px);
  font-size:15px ;
  color: #9F9E9E;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3 > div.year>div.year2>a{
  font-size: 15px;
  display: block;
  transform: translate(126px,-5px);
  color: black;
  text-decoration: underline;
  
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3 > div.year>div.year2>a:hover{
  text-decoration: none;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3 > div.year>div.year3{
width: 435px ;
height: 50px;

display: inline-block;
vertical-align: top;
transform: translateY(12px);
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3 > div.year>div.year3>a{
  color: black;
  font-size: 17px ;
  margin-left: 30px;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3 > div.year>div.year3>p{
  transform: translate(30px,-28px);
  font-size: 11px;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox{
  width: 100% ;
  height: 406px;
 
  transform: translateY(30px);
 
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items1{
  width: 341.79px;
  height: 341px;

  display: inline-block;
  vertical-align: top;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items1>ul>li{
  margin-left: 20px;
  line-height: 40px;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items1>ul>li>a{
  font-size: 16px;
  color: black;
  font-weight: 100;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items1>ul>li:hover>a{
  color: #fa6600;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items2{
  width: 341.79px;
  height: 341px;
  
  display: inline-block;
  vertical-align: top;

}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items2>ul>li{
  margin-left: 20px;
  line-height: 40px;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items2>ul>li>a{
  font-size: 16px;
  color: black;
  font-weight: 100;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items2>ul>li:hover>a{
  color: #fa6600;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items3{
  width: 341.79px;
  height: 405px;
 
  display: inline-block;
  vertical-align: top;

}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items3>ul>li{
  margin-left: 20px;
  line-height: 40px;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items3>ul>li>a{
  font-size: 16px;
  color: black;
  font-weight: 100;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items3>ul>li:hover>a{
  color: #fa6600;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items3>div.link{
  width: 314px ;
  height: 70px;
  
  border-top: 1px solid #9F9E9E;
  margin-left: 13px ;
  transform: translateY(10px);
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items3>div.link>a{
  margin-left: 10px;
  color: black;
  font-size: 16px ;
  font-weight: 800;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items3>div.link>a:hover{
  color: #fa6600;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items4{
  width: 322px;
  height: 405px;
  
  display: inline-block;
  vertical-align: top;

}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items4>ul>li{
  margin-left: 20px;
  line-height: 40px;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items4>ul>li>a{
  font-size: 16px;
  color: black;
  font-weight: 800;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items4>ul>li:hover>a{
  color: #fa6600;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items4>div.link{
  width: 310px ;
  height: 70px;
 
  border-top: 1px solid #9F9E9E;
  margin-left: 5px ;
  transform: translateY(20px);
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items4>div.link>div.linkk>a{
  
  color: black;
  font-size: 16px ;
  font-weight: 800;
}

div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items4>div.link>div.linkk{width: 150px;
  height: auto;
 
display: inline-block;
vertical-align: top;
transform: translateY(8px);
margin-top: 10px;

}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3>div.year>div.menubox>div.items4>div.link>img{
  transform: translateY(15px);
  
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu3 >div.year > div.gap2 {
  width: 80px;
  height: 100%;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  margin-left: 1125.55px;
  transform: translate(233px,-479px);
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4 {
  width: 1519px;
  height: 419.8px;
  background-color: #eeeceb;
  position: absolute;
  transform: translate(-479px, 8px);
  z-index: 50;
  display: none;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4 > div.gap {
  width: 80px;
  height: 100%;
  background-color: white;
  display: inline-block;
  vertical-align: top;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4>div.menubox1{
  width: 341px;
  height: 310px;
 
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4>div.menubox1>ul>li{
  margin-left: 20px;
  line-height: 35px;
  
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4>div.menubox1>ul>li>a{
  font-size: 16px;
  color: black;
  font-weight: 100;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4>div.menubox1>ul>li:hover>a{
  color: #fa6600;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4>div.menubox2{
  width: 341px;
  height: 310px;
  
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4>div.menubox2>ul>li{
  margin-left: 20px;
  line-height: 35px;
  
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4>div.menubox2>ul>li>a{
  font-size: 16px;
  color: black;
  font-weight: 100;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4>div.menubox2>ul>li:hover>a{
  color: #fa6600;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4>div.menubox3{
  width: 341px;
  height: 400px;
 
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4>div.menubox3>ul>li{
  margin-left: 20px;
  line-height: 35px;
  
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4>div.menubox3>ul>li>a{
  font-size: 16px;
  color: black;
  font-weight: 100;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4>div.menubox3>ul>li:hover>a{
  color: #fa6600;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4>div.menubox3>div.link{
  width: 310px ;
  height: 70px;

  border-top: 1px solid #9F9E9E;
  margin-left: 20px ;
  
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4>div.menubox3>div.link>a{
 font-size: 16px;
 color: black;
 font-weight: 800;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4>div.menubox3>div.link>a:hover{
  color: #fa6600;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4>div.menubox3>div.link>img{
  transform: translate(5px,2px);
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4>div.menubox4{
  width: 341px;
  height: 310px;
 
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4>div.menubox4>ul>li{
  margin-left: 20px;
  line-height: 35px;
  
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4>div.menubox4>ul>li>a{
  font-size: 16px;
  color: black;
  font-weight: 800;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4>div.menubox4>ul>li:hover>a{
  color: #fa6600;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu4 > div.gap2 {
  width: 80px;
  height: 100%;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  margin-left: 1125.55px;
  transform: translate(313px,-420px);
}
div.header > div.headermenu > div.menu > nav > ul > li:hover > div.menu4{
  display: block;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5 {
  width: 1519px;
  height: 419.8px;
  background-color: #eeeceb;
  position: absolute;
  transform: translate(-539px, 8px);
  z-index: 50;
  display: none;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5 > div.gap {
  width: 80px;
  height: 100%;
  background-color: white;
  display: inline-block;
  vertical-align: top;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5>div.menubox1{
  width: 341px;
  height: 310px;
 
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5>div.menubox1>ul>li{
  margin-left: 20px;
  line-height: 35px;
  
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5>div.menubox1>ul>li>a{
  font-size: 16px;
  color: black;
  font-weight: 100;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5>div.menubox1>ul>li:hover>a{
  color: #fa6600;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5>div.menubox2{
  width: 341px;
  height: 310px;
  
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5>div.menubox2>ul>li{
  margin-left: 20px;
  line-height: 35px;
  
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5>div.menubox2>ul>li>a{
  font-size: 16px;
  color: black;
  font-weight: 100;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5>div.menubox2>ul>li:hover>a{
  color: #fa6600;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5>div.menubox3{
  width: 341px;
  height: 400px;
 
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5>div.menubox3>ul>li{
  margin-left: 20px;
  line-height: 35px;
  
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5>div.menubox3>ul>li>a{
  font-size: 16px;
  color: black;
  font-weight: 100;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5>div.menubox3>ul>li:hover>a{
  color: #fa6600;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5>div.menubox3>div.link{
  width: 310px ;
  height: 70px;

  border-top: 1px solid #9F9E9E;
  margin-left: 20px ;
  
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5>div.menubox3>div.link>a{
 font-size: 16px;
 color: black;
 font-weight: 800;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5>div.menubox3>div.link>a:hover{
  color: #fa6600;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5>div.menubox3>div.link>img{
  transform: translate(5px,2px);
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5>div.menubox4{
  width: 341px;
  height: 310px;
 
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5>div.menubox4>ul>li{
  margin-left: 20px;
  line-height: 35px;
  
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5>div.menubox4>ul>li>a{
  font-size: 16px;
  color: black;
  font-weight: 800;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5>div.menubox4>ul>li:hover>a{
  color: #fa6600;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu5 > div.gap2 {
  width: 80px;
  height: 100%;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  margin-left: 1125.55px;
  transform: translate(313px,-420px);
}
div.header > div.headermenu > div.menu > nav > ul > li:hover > div.menu5{
  display: block;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6 {
  width: 1519px;
  height: 276.8px;
  background-color: #eeeceb;
  position: absolute;
  transform: translate(-619px, 8px);
  z-index: 50;
  display: none;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6 > div.gap {
  width: 80px;
  height: 100%;
  background-color: white;
  display: inline-block;
  vertical-align: top;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6>div.menubox1{
  width: 341px;
  height: 310px;
 
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6>div.menubox1>ul>li{
  margin-left: 20px;
  line-height: 35px;
  
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6>div.menubox1>ul>li>a{
  font-size: 16px;
  color: black;
  font-weight: 100;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6>div.menubox1>ul>li:hover>a{
  color: #fa6600;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6>div.menubox2{
  width: 341px;
  height: 310px;
  
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6>div.menubox2>ul>li{
  margin-left: 20px;
  line-height: 35px;
  
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6>div.menubox2>ul>li>a{
  font-size: 16px;
  color: black;
  font-weight: 100;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6>div.menubox2>ul>li:hover>a{
  color: #fa6600;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6>div.menubox3{
  width: 341px;
  height: 400px;
 
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6>div.menubox3>ul>li{
  margin-left: 20px;
  line-height: 35px;
  
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6>div.menubox3>ul>li>a{
  font-size: 16px;
  color: black;
  font-weight: 100;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6>div.menubox3>ul>li:hover>a{
  color: #fa6600;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6>div.menubox3>div.link{
  width: 310px ;
  height: 70px;

  border-top: 1px solid #9F9E9E;
  margin-left: 20px ;
  
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6>div.menubox3>div.link>a{
 font-size: 16px;
 color: black;
 font-weight: 800;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6>div.menubox3>div.link>a:hover{
  color: #fa6600;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6>div.menubox3>div.link>img{
  transform: translate(5px,2px);
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6>div.menubox4{
  width: 341px;
  height: 310px;
 
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6>div.menubox4>ul>li{
  margin-left: 20px;
  line-height: 35px;
  
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6>div.menubox4>ul>li>a{
  font-size: 16px;
  color: black;
  font-weight: 800;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6>div.menubox4>ul>li:hover>a{
  color: #fa6600;
}
div.header > div.headermenu > div.menu > nav > ul > li > div.menu6 > div.gap2 {
  width: 80px;
  height: 100%;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  margin-left: 1125.55px;
  transform: translate(313px,-400px);
}
div.header > div.headermenu > div.menu > nav > ul > li:hover > div.menu6{
  display: block;
}
